/* RESET CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* NO SCROLLBAR */
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* VARIABLES */
:root {
    /* Light mode */
    --light-text-color: #000000;
    --light-border-color: #d2e3df;
    --light-darker-background-color: #f6f8fa;
    --light-background-color: #ffffff;
    --light-hover-color: #eaedf0;

    /* Dark mode */
    --dark-text-color: #f1f6fb;
    --dark-border-color: #3e444c;
    --dark-darker-background-color: #020409;
    --dark-background-color: #0d1117;
    --dark-hover-color: #16191f;
}

/* GENERAL */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body.light-mode {
    color: var(--light-text-color);
    background-color: var(--light-background-color);
}

body.dark-mode {
    color: var(--dark-text-color);
    background-color: var(--dark-background-color);
}

button {
    height: 2rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--light-border-color);
    border-radius: 5px;
    background-color: var(--light-header-background-color);
    cursor: pointer;
}

button:hover {
    background-color: var(--light-hover-color);
}

button.square {
    width: 2rem;
}

button.light-mode {
    color: var(--light-text-color);
    border: 1px solid var(--light-border-color);
    background-color: var(--light-darker-background-color);
}

button.light-mode:hover {
    background-color: var(--light-hover-color);
}

button.dark-mode {
    color: var(--dark-text-color);
    border: 1px solid var(--dark-border-color);
    background-color: var(--dark-darker-background-color);
}

button.dark-mode:hover {
    background-color: var(--dark-hover-color);
}

.row {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
}

/* HEADER */
header {
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--light-text-color);
    border-bottom: 1px solid var(--light-border-color);
    background-color: var(--light-header-background-color);
}

header.light-mode {
    color: var(--light-text-color);
    border-bottom: 1px solid var(--light-border-color);
    background-color: var(--light-header-background-color);
}

header.dark-mode {
    color: var(--dark-text-color);
    border-bottom: 1px solid var(--dark-border-color);
    background-color: var(--dark-header-background-color);
}

header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    list-style: none;
}

header h1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}

.brand {
    font-size: 1.5rem;
}

/* FOOTER */

/* RESPONSIVE */